<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
</div>
<a href="/auth/profile">Profile</a>
<a href="/celebrities">Celebrities</a>
<a href="/movies">Movies</a>
<p>This would be my new title</p>
